body {
    margin: 0;
    background-color: #e2e6e2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav-bar {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 0.2vw solid #998273;
}

#nav-bar a{
    text-decoration: none;
    width: auto;
}

#nav-bar-logo {
    display: flex;
    align-items: center;
}

#nav-bar-logo img{
    width: 4vw;
    padding: 0.5vw 1vw;
}

#nav-bar-logo span{
    font-size: 2vw;
    font-family: 'Noto Sans', sans-serif;
    color: #664439;
    width: 12vw;
    font-weight: bold;
}

#nav-bar-right {
    margin: 0 5vw 0 auto;
}

#nav-bar-right a {
    padding: 25% 0.5vw;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5vw;
    color: #664439;  
}

#nav-bar-right a:hover {
    background-color: #998273;
}

#footer {
    margin-top: auto;
    padding-bottom: 1vw;
    width: 100%;
    background-color: #998273;
    text-align: center;
}

#footer-social-media {
    margin: 1vh;
}

#footer-social-media a{
    color: #e2e6e2;
    font-size: 1.5vw;
    margin: 0 1vh;   
}

#footer-social-media a:hover{
    color:#664439;
}

#footer span{
    color: #e2e6e2;
    font-size: 0.9vw;
}

#content {
    display: flex;
    justify-content: center;
}

#coffee-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coffee-img span{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-top: 3vw;
    font-size: 4.5vw;
}

#left-img-text {
    transform: skew(-10deg) rotate(-10deg);
}

#right-img-text {
    transform: skew(10deg) rotate(10deg);
    letter-spacing: 0.5vw;
}

#center-div {
    width: 40vw;
    text-align: center;
    color: #664439;
}

#center-div img{
    width: 9vw;
    margin: 2vh;
}

#center-div h1{
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    font-size: 5vw;
    margin: -2vw 0 0 0;
}

#center-div p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1vw;
    margin: 0;
    text-align: center;
}

#center-div h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5vw;
    margin: 1vh 0 1.5vw 0;
}

#center-div a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #664439;
    padding: 0.5vw 1vw;
    margin: 1vw;
    background-color: #998273;
    border-radius: 2vw;
    font-size: 1vw;
}

#center-div a:hover {
    color: #e2e6e2;
    background-color: #664439;
}

#center-buttons-div {
    margin-top: 3vw;
}

.card {
    position: relative;
    justify-content: center;
    width: 17vw;
    height: 30vw;
    background-color: #998273;
    margin: 3vw 5vw;
    border-radius: 1.7vw;
    text-align: center;
    top: 10vh;
    color: #e2e6e2;
} 

.card h1 {
    font-family: 'Dosis', sans-serif;
    border-bottom: 0.15vw solid #e2e6e2;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    padding-bottom: 0.5vw;
    width: 80%;
    margin-left: 10%;
    filter: drop-shadow(#664439 0 0 0.3vw);
}

.card p {
    font-family: 'Noto Sans', sans-serif;
    margin: 0.5vw 0 0 10%;
    width: 80%;
    text-align: left;
    font-size: 1vw;
}

.price {
    font-family: 'Dosis', sans-serif;
    margin-top: -5vh;
    position: relative;
}

.int {
    font-size: 6vw;
    padding-top: 10vw;
    margin-left: -3vw;
}

.dolar {
    position: absolute;
    top: 1.3vw;
    font-size: 2vw;
    margin: 0;
    font-weight: bold;
}

.decimal {
    position: absolute;
    font-size: 2.5vw;
    margin-left: 0.2vw;
    top: 3.6vw;
}

.card a {
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    bottom: 1vw;
    transform: translate(-50%, -50%);
    padding: 0.2vw 1vw;
    color:#e2e6e2;
    background-color: #998273;
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 2vw;
    border-color: #e2e6e2;
    font-size: 1vw;
    text-decoration: none;
}

.card a:hover {
    color: #998273;
    background-color: #f282b4;
}
